---
title: Welcome to Temper
---
%header
  .wrapper
    %article
      %h1 temper
      %caption &#124; tem&bull;per &#124;
%section.definitions
  .wrapper
    %article.verb
      %h5
        (v.)
      %p
        To improve, neutralize, or change the properties of (something) by mixing, modifying, or adding (specific substances).
    %article.noun
      %h5
        (n.)
      %p
        A frame of mind or feeling at a particular time dominated by one or several (positive or negative) emotions.
%section.about
  .wrapper
    %aside
      = image_tag "coming-2016-3x.png"
    %article
      %p
        %strong Temper is a strategic design firm that specializes in brand identity and interactive solutions.
        We transform brands by designing an engaging and coordinated experience, making them simple to use and easy to understand.
      %p
        We’re currently booked till January 2016, but are always excited to talk about your passion project. To get the conversation started, send us your email, and we'll follow up.
%footer
  .wrapper
    %article
      %p &copy; 2015 - Temper, Inc. All rights reserved.
